<!-- Start left navigation - menu -->
<ul class="sidebar-menu">
    <li data-ng-class="{active : activeViewPath==='/home'}">
        <a href='#/home'>
            <span class="icon"><i class="fa fa-home"></i></span>
            <span class="text">Home</span>
        </a>
    </li>

    <li class="sidebar-category">
        <span>Pedals</span>        
    </li>

    <li data-ng-class="{active : activeViewPath ==='/Reporting/Accounts'}">
        <a href="#/Reporting/Accounts">
            <span class="icon"><i class="fa fa-calculator"></i></span>
            <span class="text">Boost</span>
        </a>
    </li>
    <li data-ng-class="{active : activeViewPath ==='/Reporting/Accounts'}">
        <a href="#/Reporting/Accounts">
            <span class="icon"><i class="fa fa-calculator"></i></span>
            <span class="text">Chorus</span>
        </a>
    </li>
    <li data-ng-class="{active : activeViewPath ==='/Reporting/Accounts'}">
        <a href="#/Reporting/Accounts">
            <span class="icon"><i class="fa fa-calculator"></i></span>
            <span class="text">Compressor</span>
        </a>
    </li>
    <li data-ng-class="{active : activeViewPath ==='/Reporting/Accounts'}">
        <a href="#/Reporting/Accounts">
            <span class="icon"><i class="fa fa-calculator"></i></span>
            <span class="text">Delay</span>
        </a>
    </li>
    <li data-ng-class="{active : activeViewPath ==='/Reporting/Accounts'}">
        <a href="#/Reporting/Accounts">
            <span class="icon"><i class="fa fa-calculator"></i></span>
            <span class="text">EQ</span>
        </a>
    </li>
    <li data-ng-class="{active : activeViewPath ==='/Reporting/Accounts'}">
        <a href="#/Reporting/Accounts">
            <span class="icon"><i class="fa fa-calculator"></i></span>
            <span class="text">Flanger</span>
        </a>
    </li>
    <li data-ng-class="{active : activeViewPath ==='/Reporting/Accounts'}">
        <a href="#/Reporting/Accounts">
            <span class="icon"><i class="fa fa-calculator"></i></span>
            <span class="text">Fuzz</span>
        </a>
    </li>
    <li data-ng-class="{active : activeViewPath ==='/Reporting/Accounts'}">
        <a href="#/Reporting/Accounts">
            <span class="icon"><i class="fa fa-calculator"></i></span>
            <span class="text">Noise Gate</span>
        </a>
    </li>
    <li data-ng-class="{active : activeViewPath ==='/Reporting/Accounts'}">
        <a href="#/Reporting/Accounts">
            <span class="icon"><i class="fa fa-calculator"></i></span>
            <span class="text">Overdrive</span>
        </a>
    </li>
    <li data-ng-class="{active : activeViewPath ==='/Reporting/Accounts'}">
        <a href="#/Reporting/Accounts">
            <span class="icon"><i class="fa fa-calculator"></i></span>
            <span class="text">Phaser</span>
        </a>
    </li>
    <li data-ng-class="{active : activeViewPath ==='/Reporting/Accounts'}">
        <a href="#/Reporting/Accounts">
            <span class="icon"><i class="fa fa-calculator"></i></span>
            <span class="text">Wah</span>
        </a>
    </li>
</ul><!-- /.sidebar-menu -->
<!--/ End left navigation - menu -->
