<!-- Start settings -->
<li class="navbar-setting pull-right">
    <a href="javascript:void(0);"><i class="fa fa-cog fa-spin"></i></a>
</li><!-- /.navbar-setting pull-right -->
<!--/ End settings -->
